.gradle/
**/build/
**/bin/
**/out/
.gradletasknamecache
gradle-app.setting
**/.server/
app/.server/
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
.idea/
*.iml
.project
.classpath
.settings/
.vscode/
.DS_Store
Thumbs.db
